.container
  - if @profile.errors.any?
    %ul
      - @profile.errors.full_messages.each do |msg|
        %li= msg

  = form_with(model: @profile,url:profile_path,turbo_method:'put',local:true) do |f|
    %div
      = f.label :nickname,'ハンドルネーム'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction,'自己紹介'
    %div
      = f.text_area :introduction
    %div
      = f.label :gender,'性別'
    %div
      = f.select :gender, Profile.genders.keys,{},{class: 'text'}