<%= link_to article_path(id:article.id) do %>
  <div class="card">
    <div class="card_image">
      <%= image_tag 'eyecatch1.png' %>
    </div>
    <div class="card-title">
      <%= article.title %>
    </div>

    <div class="card_content">
      <div class="card_heart">
        <%= image_tag 'heart.svg' %>
        <span>23</span>
      </div>
      <div class="card_detail">
        <%= image_tag 'default-avatar.png' %>
        <div>
          <p>cohki0305</p>
          <p><%= article.display_created_at %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>