<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <% if msg %>
      <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>

  <%= form_with(model: @article, url: articles_path, method: 'post', local: true) do |f| %>
    <div>
      <%= f.label :title, 'タイトル' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div>
      <%= f.label :content, '内容' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'post', class: 'btn-primary' %>
  <% end %>
</div>